.articles {
	padding: 2rem 0;
	background-color: $very-light-gray;

	&-title {
		margin-bottom: 2rem;
		text-align: center;
	}
	.container {
		padding: 0 1.5rem;
	}

	&-card {
		margin-bottom: 1rem;
		border-radius: 6px;
		overflow: hidden;
		background-color: $white;

		&__author {
			color: $grayish-blue;
			font-size: 0.7rem;
		}

		&__title {
			text-align: left;
			margin: 0.5rem 0;
		}

		&__content {
			padding: 1.5rem;
		}

		&__text {
			font-size: 0.75rem;
		}
	}
}

@media (min-width: 899px) {
	.articles {
		padding: 4rem;
		display: grid;

		&-title {
			text-align: left;
			margin-bottom: 3rem;
		}

		&-wrarpper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1.5rem;

			img {
				height: 180px;
				width: 100%;
				object-fit: cover;
			}
		}

		&-card {
			&__title:hover {
				cursor: pointer;
				color: $lime-green;
			}
		}
	}
}
