// colors
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$grayish-blue-opacity: hsla(233, 8%, 62%, 0.7);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$gradient: linear-gradient(to right, $lime-green, $bright-cyan);
$gradient-hover: linear-gradient(to right, lighten($lime-green, 15%), lighten($bright-cyan, 15%));

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Public Sans", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
}

button {
	font-family: inherit;
	border: none;
}

.btn {
	height: 2.5rem;
	padding: 0 2.25rem;
	color: $white;
	border-radius: 100px;
	background-image: $gradient;

	@media (min-width: 899px) {
		&:hover {
			cursor: pointer;
			background-image: $gradient-hover;
		}
	}
}

h1,
h2,
h3 {
	color: $dark-blue;
	font-weight: 400;
}

h1 {
	font-size: 2.5rem;

	@media (min-width: 899px) {
		font-size: 2.75rem;
	}
}

h2 {
	font-size: 1.75rem;

	@media (min-width: 899px) {
		font-size: 2rem;
	}
}

p {
	color: $grayish-blue;
	font-size: 0.9rem;
	line-height: 1.6;

	@media (min-width: 899px) {
		font-size: 1rem;
	}
}

.container {
	max-width: 76rem;
	margin: 0 auto;
}
