.footer {
	background-color: $dark-blue;
	padding: 2rem 0;
	text-align: center;

	&-header {
		margin-bottom: 2rem;
	}

	&-logo {
		img {
			margin: 0 auto;
		}
	}

	&-social-media {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-top: 1.5rem;

		svg {
			fill: $white;
		}
	}

	&-links {
		color: $white;

		li {
			margin-bottom: 1rem;
		}
	}

	.btn {
		margin-bottom: 2rem;
	}
}

@media (min-width: 899px) {
	.footer {
		text-align: left;

		.container {
			padding: 1.5rem;
			display: flex;
			gap: 8rem;
		}

		&-header {
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&-logo {
			img {
				margin: 0;
			}
		}

		&-social-media {
			margin-top: 0;

			svg:hover {
				cursor: pointer;
				fill: $lime-green;
			}
		}

		&-links {
			display: flex;
			gap: 8rem;

			ul {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

			li {
				margin-bottom: 0;
			}

			a:hover {
				color: $lime-green;
			}
		}

		&-rights {
			margin-left: auto;
			display: flex;
			flex-direction: column;
			align-items: end;
		}
	}
}
