.hero {
	text-align: center;
	padding-bottom: 2rem;
	background-color: $very-light-gray;

	&-image {
		background-image: url("./../images/bg-intro-mobile.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;

		img {
			margin: 0 auto;
		}
	}

	&-content {
		padding: 0 1.5rem;
	}

	&-title,
	&-text {
		margin-bottom: 1rem;
	}
}
