.hero {
	text-align: center;
	padding-bottom: 2rem;
	background-color: $very-light-gray;

	&-image {
		background-image: url("./../images/bg-intro-mobile.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;

		img {
			margin: 0 auto;
		}
	}

	&-content {
		padding: 0 1.5rem;
	}

	&-title,
	&-text {
		margin-bottom: 1rem;
	}
}

@media (min-width: 899px) {
	.hero {
		display: grid;
		grid-template-columns: 1fr minmax(20rem, 38rem) minmax(20rem, 38rem) 1fr;
		place-items: center;
		padding-bottom: 0;

		&-image {
			grid-column: 3 / -1;
			grid-row: 1/ 2;
			background-image: url("./../images/bg-intro-desktop.svg");
			background-position: left 10% bottom -70%;
			background-size: auto;
			overflow-x: hidden;
			z-index: 50;
		}

		&-img {
			position: relative;
			top: -40px;
			right: -130px;
			z-index: 40;
		}

		&-content {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			text-align: left;
			justify-self: start;
		}

		&-title,
		&-text {
			max-width: 25rem;
			margin-bottom: 2rem;
		}
	}
}
