.hero {
	text-align: center;
	padding-bottom: 2rem;
	background-color: $very-light-gray;
	background-image: url("./../images/bg-intro-mobile.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0 60px;

	&-image {
		img {
			margin: 0 auto;
		}
	}

	&-content {
		padding: 0 1.5rem;
	}

	&-title,
	&-text {
		margin-bottom: 1rem;
	}
}

@media (min-width: 899px) {
	.hero {
		text-align: left;
		background-image: url("./../images/bg-intro-desktop.svg");
		background-size: cover;
		background-position: top -130px left 480px;
		position: relative;

		.container {
			height: 100vh;
		}

		&-image {
			position: absolute;
			right: 0;
			z-index: 100;
			overflow-x: hidden;

			img {
				position: relative;
				top: 0;
				left: 200px;
				z-index: 2000;
				width: 77%;
			}
		}

		&-content {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		&-title,
		&-text {
			max-width: 25rem;
			margin-bottom: 2rem;
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		background-position: top -230px left 640px;

		&-image {
			img {
				top: -50px;
				left: 100px;
				width: auto;
			}
		}
	}
}
