.menu {
	padding: 1.5rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.close-menu {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 899px) {
	.menu {
		&-nav {
			display: none;
		}
	}
}
