.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	z-index: 200;
	// display: none;

	.container {
		padding: 1.5rem;
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.close-menu {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 899px) {
	.menu {
		&-nav {
			display: none;
			background-image: linear-gradient(to top, $very-light-gray 10%, $grayish-blue-opacity 40%);
			position: fixed;
			top: 68px;
			left: 0;
			width: 100%;
			height: calc(100vh - 68px);
			padding: 1.5rem 1.5rem 3rem;
			z-index: 0;

			&__container {
				background-color: $white;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				border-radius: 6px;
				padding: 1rem;

				ul {
					text-align: center;
				}

				a {
					padding: 0.75rem;
					margin: 0 auto;
					display: block;
					align-items: center;
					color: $dark-blue;
				}
			}
		}

		.lg-screen-btn {
			display: none;
			visibility: hidden;
		}
	}

	.menu[data-open="true"] {
		.open-menu {
			display: none;
			visibility: hidden;
		}

		.close-menu {
			display: block;
			visibility: visible;
		}

		.menu-nav {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
}

@media (min-width: 899px) {
	.menu {
		.container {
			display: flex;
			justify-content: space-between;
		}

		.open-menu {
			display: none;
			visibility: hidden;
		}

		&-nav {
			display: flex;
			align-items: center;

			ul {
				display: flex;
				gap: 2rem;
			}

			a {
				color: $grayish-blue;
				position: relative;

				&:hover {
					color: $dark-blue;

					&:after {
						content: "";
						height: 4px;
						width: 100%;
						display: block;
						position: absolute;
						top: 50px;
						left: 0;
						background-image: $gradient;
					}
				}
			}
		}

		.sm-screen-btn {
			display: none;
			visibility: hidden;
		}
	}
}
