.services {
	padding: 2rem 0;
	text-align: center;
	background-color: $light-grayish-blue;

	.container {
		padding: 0 1.5rem;
	}

	&-title,
	&-text {
		margin-bottom: 1rem;
	}

	&-title {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
	}

	&-card {
		padding: 2rem 0;

		img {
			margin: 0 auto;
		}

		&__name {
			margin: 1rem 0;
		}
	}
}

@media (min-width: 899px) {
	.services {
		padding: 8rem 0 4rem;
		z-index: 80;
		position: relative;
		text-align: left;

		&-title {
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
		}

		&-text {
			max-width: 38rem;
		}

		&-wrarpper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1.5rem;
		}

		&-card {
			img {
				margin: 0;
			}
		}
	}
}
